{% block body %}

        <div >
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top ">
                <a class="navbar-brand" href="{{ path('employee-info') }}">Project Tracker</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarColor01" aria-controls="navbarColor01"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav mr-auto">

                        <!--<li class="nav-item active"><a class="nav-link" th:href="@{/app/employees/employee-index}">Home<span class="sr-only">(current)</span></a></li> -->
                        <li class="nav-item"><a class="nav-link"  href="{{ path('info') }}">Account info</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('team') }}" >My Team members</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('employee-info') }}" >Assigned projects & Commits</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('employee-info') }}">About</a></li>
                    </ul>
                    <div class="my-2 my-lg-0">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item"><a class="nav-link my-2 my-sm-0" href="{{ path('logout') }}"  >=>Logout</a></li>
                            <!-- <li class="nav-item"><a class="nav-link my-2 my-sm-0" th:href="@{/}">Register</a></li> -->
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
{% endblock %}


