<!DOCTYPE html>

<html >

<head>
    <meta charset="UTF-8">
    <title></title>
    {% embed "@PfaProject/layout/stylish.html.twig" %}
    {% endembed %}
</head>

<body>

{% embed "@PfaProject/layout/employeeNavbar.html.twig" %}
{% endembed %}
<br><br><br><br><br>

<div class='container container-fluid'>
    {% if team is null %}
    <h2>No Records yet!</h2>
    {% endif %}
            <h2 th:text = '${size}' ></h2>  <br>
            <table class="table table-striped table-hover ">
                <thead>
                <tr class='table-info' >
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Email</th>
                    <th>Phone</th>

                    <th>Job</th>
                    <th>Department</th>
                    <th>Location</th>
                </tr>
                </thead>
                <tbody>
                {% for e in team %}
                <tr>
                    <td>{{ e.firstName }}</td>
                    <td>{{ e.lastName }}</td>
                    <td>{{ e.email }}</td>
                 <td>{{ e.phone }}</td>
                    <td>{{ e.job }}</td>
                    <td>{{ e.department.departmentName }}</td>
                    <td>{{ e.department.location.adr}} , {{  e.department.location.postalCode}} , {{ e.department.location.city }} </td>
                   </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>

<br><br><br><br><br>

{%  embed "@PfaProject/layout/js.html.twig" %}
{% endembed %}

</body>
</html>